#ingoring python virtual environment
venv/

## ignoring python cache files
backend/db/__pycache__/
backend/utils/__pycache__/
backend/utils/web_scraper_scripts/__pycache__/
backend/utils/logger/__pycache__/
backend/routers/__pycache__/
backend/schemas/__pycache__/
backend/models/__pycache__
backend/alembic/__pycache__
backend/alembic/versions/__pycache__
backend/__pycache__/
